*{
    margin:0;padding:0;box-sizing: border-box;
}
body,html{
    height:100%;
}
body{
    display:-webkit-flex;
    -webkit-flex-direction:column;
}
#header{
    height:70px;
    background:black;
    display:-webkit-flex;
    -webkit-justify-content:space-between;
    -webkit-align-items:center;
    border-bottom:1px solid #777;
}
#header>div{
    color:white;
    font:32px sans-serif;
}
#title{
    color:white;
}
#frame{
    height:100%;
    width:100%;
}
#lowerPanel{
    display:-webkit-flex;
    -webkit-justify-content:center;
    -webkit-align-items:center;
    font:36px sans-serif;
    color:#ccc;
}
#lowerPanel div{
    border:1px solid #ccc;

}
.btnEffect{
     stroke:white;
 }
.btnEffect2{
    stroke:white;
}
.target{
    /*background-image:-webkit-radial-gradient(blue 50%, transparent 50%);*/
    background-image:-webkit-radial-gradient(white 38%,pink 40%,white 42%);
    -webkit-transition:0.5s linear background-size;
    background-size:0;
    background-repeat:no-repeat;
    background-position:center;
    background-color:#eee;
}
.change{
    background-size:500%;
    /*box-shadow:inset 0 0 2em white;*/
}
#lowerPanel div.afterEffect{
    color:pink;
    border:1px solid;
}
svg{display:none;}